/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Bona Nova', serif;
    --text-font: 'Dosis', sans-serif;

}
body{
    /* background-color: #fcde67; */
    background-color: #432323;
}
.main{
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
.heading h1{
    color:rgb(236, 199, 15);
    font-size: 48px;
    font-weight:900;
    letter-spacing: 1px;
    padding-top:2rem;
    margin: 1rem;
}

.heading h4{
    color: #ffff;
    font-family: var(--text-font);
    font-weight: 300;
   
   
}
.search-bar{
    margin: 1rem 0;
    max-width:450px;
    height:40px;
    border:none;
    outline:none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    background-color: #ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.search-bar:hover{
    box-shadow: 0 2px 8px rgba(40, 39, 39, 0.1);
}


.indexContainer{
    display: flex; 
    flex-wrap: wrap;
    min-height: 35px;
    justify-content: center;
    /* margin: 2.5rem 0; */
}
.numBox {
    width: 20px;
    height: 20px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #432323;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0px 5px 5px;
    border-radius: 50%;
   
    cursor: pointer;

}

.numBox h3{
    font-family: var(--text-font);
    font-weight: 300;
}

.numBox:hover{
    background-color: #ac9a9a;
}



.container{
    width: 100%;
    margin:25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 15px;
    gap: 14px;
    color: #ffff;
}
.card{
    flex-basis: 100px;
    /* width: 150px; */
    min-height: 10.4rem;
    border-radius: 5px;
    background-color: #ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2px;
    flex-grow: 1;
}
.card:hover{
    cursor: pointer;
    background-color: #f8f3f3;

}
.card img{
    width: 100%;
    border-radius:
}
.card h3{
    color:rgb(47, 97, 47);
    font-size: 15px;
}



/***** Recipe info *******/
.banner-container{
   height: 500px;
   max-width: 100%;
   position: relative;
}

.banner-container img{
    width: 100%;
    height: 100%;
} 
.banner-container .inner-content{
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 5px rgba(0,0,0,05);
}

#recipe-info{
    font-family: var(--text-font);
}
.recipe-details{
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
    line-height: 1.7;
    font-size: 18px;
    font-family: var(--text-font);
    font-weight: 100;
}

.recipe-details .instructions h4, .ingredients h4{
    font-family: var(--text-font);
    font-weight: 100;
}



.instructions{
    width: 50%;
}


.ingredients{
    margin-top: 1.5rem;
    font-size: 18px;
    color: #fff;
   
}
.video{
    width: 68%;
    height: 500px;
    margin: 3rem auto;
}

iframe{
    height: 90%;
    width: 100%;
}


@media only screen and (max-width: 600px){
    .heading h1{
       
        font-size: 30px;
        font-weight:900;

    }

    .numBox {
        width: 30px;
        height: 20px;
        font-size: 12px;
    
    }

    .banner-container{
        height: 300px;
    }

    .banner-container .inner-content{
        font-size: 0.7rem;
       
    }

    .video{
        height: 250px;
        width: 86%;
      
    }

    .instructions, .ingredients h4{
        width: 85%;
    
    }

    .recipe-details{
        justify-content: flex-start;
        margin-left: 30px;
    }

}